@import "tailwindcss";

.white-btn {
    @apply bg-white p-2 rounded-md shadow-sm transform hover:bg-gray-200
}

.white-blue {
    @apply bg-blue-400 text-white p-2 rounded-md shadow-sm transform hover:bg-blue-600
}

.black-btn {
    @apply bg-gray-900 text-white p-2 rounded-md shadow-sm transform hover:bg-gray-600
}

::-webkit-scrollbar {
    display: none;
}

.home-bg {
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #ffffff 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
}