@import "tailwindcss";

.white-btn {
    @apply bg-white p-2 rounded-md shadow-sm transform hover:bg-gray-200
}

.white-blue {
    @apply bg-blue-400 text-white p-2 rounded-md shadow-sm transform hover:bg-blue-600
}

.black-btn {
    @apply bg-gray-900 text-white p-2 rounded-md shadow-sm transform hover:bg-gray-600
}

::-webkit-scrollbar {
    display: none;
}

.home-bg {
    background: #d6feff;
background: linear-gradient(29deg, rgba(214, 254, 255, 1) 0%, rgba(92, 168, 255, 1) 100%);
}